@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.voltage-heading {
  position: relative;
}

.voltage-heading h1 {
  color: white;
  background: #0D1127;
  padding: 1rem 3rem 1rem 3rem;
  border-radius: 5rem;
  border: 5px solid #5978F3;
  font-size: 1.2rem;
  line-height: 1em;
  letter-spacing: 0.075em;
  transition: background 0.3s;
}

.voltage-heading h1:hover {
  cursor: pointer;
  background: #0F1C53;
}

.voltage-heading h1:hover + svg, .voltage-heading h1:hover + svg + .dots {
  opacity: 1;
}

.voltage-heading svg {
  display: block;
  position: absolute;
  top: -0.75em;
  left: -0.25em;
  width: calc(100% + 0.5em);
  height: calc(100% + 1.5em);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.4s;
  transition-delay: 0.1s;
}

.voltage-heading svg path {
  stroke-dasharray: 300 50;
  filter: url("#glow");
}

.voltage-heading svg path.line-1 {
  stroke: #f6de8d;
  stroke-dashoffset: 0;
  animation: spark-1 2s linear infinite;
}

.voltage-heading svg path.line-2 {
  stroke: #6bfeff;
  stroke-dashoffset: 175;
  animation: spark-2 2s linear infinite;
}

.voltage-heading .dots {
  opacity: 0;
  transition: opacity 0.3s;
  transition-delay: 0.4s;
}

.voltage-heading .dots .dot {
  width: 1rem;
  height: 1rem;
  background: white;
  border-radius: 100%;
  position: absolute;
  opacity: 0;
}

.voltage-heading .dots .dot-1 {
  top: 0;
  left: 20%;
  animation: fly-up 1.5s linear infinite;
}

.voltage-heading .dots .dot-2 {
  top: 0;
  left: 55%;
  animation: fly-up 1.5s linear infinite;
  animation-delay: 0.5s;
}

.voltage-heading .dots .dot-3 {
  top: 0;
  left: 80%;
  animation: fly-up 1.5s linear infinite;
  animation-delay: 1s;
}

.voltage-heading .dots .dot-4 {
  bottom: 0;
  left: 30%;
  animation: fly-down 1.5s linear infinite;
  animation-delay: 2.5s;
}

.voltage-heading .dots .dot-5 {
  bottom: 0;
  left: 65%;
  animation: fly-down 1.5s linear infinite;
  animation-delay: 1.5s;
}

@keyframes spark-1 {
  to {
    stroke-dashoffset: -350;
  }
}

@keyframes spark-2 {
  to {
    stroke-dashoffset: -175;
  }
}

@keyframes fly-up {
  0% {
    opacity: 0;
    transform: translateY(0) scale(0.2);
  }

  5% {
    opacity: 1;
    transform: translateY(-1.5rem) scale(0.4);
  }

  10%, 100% {
    opacity: 0;
    transform: translateY(-3rem) scale(0.2);
  }
}

@keyframes fly-down {
  0% {
    opacity: 0;
    transform: translateY(0) scale(0.2);
  }

  5% {
    opacity: 1;
    transform: translateY(1.5rem) scale(0.4);
  }

  10%, 100% {
    opacity: 0;
    transform: translateY(3rem) scale(0.2);
  }
}

